@@include('parts/header.html')

<main class="py-16 lg:py-20">
    <div class="container">

        <!-- Breadcrumbs -->
        <ul class="breadcrumbs flex flex-wrap gap-y-1 gap-x-4 mb-6">
            <li><a class="text-body hover:text-pink text-xs" href="index.html">Главная</a></li>
            <li><a class="text-body hover:text-pink text-xs" href="cart.html">Корзина покупок</a></li>
            <li><span class="text-body text-xs">Оформление заказа</span></li>
        </ul>

        <section>
            <!-- Section heading -->
            <h1 class="mb-8 text-lg lg:text-[42px] font-black">Оформление заказа</h1>

            <form class="grid xl:grid-cols-3 items-start gap-6 2xl:gap-8 mt-12">

                <!-- Contact information -->
                <div class="p-6 2xl:p-8 rounded-[20px] bg-card">
                    <h3 class="mb-6 text-md 2xl:text-lg font-bold">Контактная информация</h3>
                    <div class="space-y-3">
                        <input class="w-full h-16 px-4 rounded-lg border border-body/10 focus:border-pink focus:shadow-[0_0_0_3px_#EC4176] bg-white/5 text-white text-xs shadow-transparent outline-0 transition"
                               placeholder="Имя"
                               required type="text">
                        <input class="w-full h-16 px-4 rounded-lg border border-body/10 focus:border-pink focus:shadow-[0_0_0_3px_#EC4176] bg-white/5 text-white text-xs shadow-transparent outline-0 transition"
                               placeholder="Фамилия"
                               required type="text">
                        <input class="w-full h-16 px-4 rounded-lg border border-body/10 focus:border-pink focus:shadow-[0_0_0_3px_#EC4176] bg-white/5 text-white text-xs shadow-transparent outline-0 transition"
                               placeholder="Номер телефона"
                               required type="text">
                        <input class="w-full h-16 px-4 rounded-lg border border-body/10 focus:border-pink focus:shadow-[0_0_0_3px_#EC4176] bg-white/5 text-white text-xs shadow-transparent outline-0 transition"
                               placeholder="E-mail"
                               required type="email">
                        <div x-data="{ createAccount: false }">
                            <div class="py-3 text-body">Вы можете создать аккаунт после оформления заказа</div>
                            <div class="form-checkbox">
                                <input id="checkout-create-account" type="checkbox">
                                <label @click="createAccount = ! createAccount" class="form-checkbox-label"
                                       for="checkout-create-account">Зарегистрировать аккаунт</label>
                            </div>
                            <div
                                class="mt-4 space-y-3"
                                x-show="createAccount"
                                x-transition:enter="ease-out duration-300"
                                x-transition:enter-end="opacity-100"
                                x-transition:enter-start="opacity-0"
                                x-transition:leave="ease-in duration-150"
                                x-transition:leave-end="opacity-0"
                                x-transition:leave-start="opacity-100"
                            >
                                <input class="w-full h-16 px-4 rounded-lg border border-body/10 focus:border-pink focus:shadow-[0_0_0_3px_#EC4176] bg-white/5 text-white text-xs shadow-transparent outline-0 transition"
                                       placeholder="Придумайте пароль"
                                       required type="password">
                                <input class="w-full h-16 px-4 rounded-lg border border-body/10 focus:border-pink focus:shadow-[0_0_0_3px_#EC4176] bg-white/5 text-white text-xs shadow-transparent outline-0 transition"
                                       placeholder="Повторите пароль"
                                       required type="password">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Shipping & Payment -->
                <div class="space-y-6 2xl:space-y-8">

                    <!-- Shipping-->
                    <div class="p-6 2xl:p-8 rounded-[20px] bg-card">
                        <h3 class="mb-6 text-md 2xl:text-lg font-bold">Способ доставки</h3>
                        <div class="space-y-5">
                            <div class="form-radio">
                                <input id="delivery-method-pickup" name="delivery-method[]" type="radio">
                                <label class="form-radio-label" for="delivery-method-pickup">Самовывоз</label>
                            </div>
                            <div class="space-y-3">
                                <div class="form-radio">
                                    <input checked id="delivery-method-address" name="delivery-method[]" type="radio">
                                    <label class="form-radio-label" for="delivery-method-address">Адресная
                                        доставка</label>
                                </div>
                                <input class="w-full h-16 px-4 rounded-lg border border-body/10 focus:border-pink focus:shadow-[0_0_0_3px_#EC4176] bg-white/5 text-white text-xs shadow-transparent outline-0 transition"
                                       placeholder="Город"
                                       required type="text">
                                <input class="w-full h-16 px-4 rounded-lg border border-body/10 focus:border-pink focus:shadow-[0_0_0_3px_#EC4176] bg-white/5 text-white text-xs shadow-transparent outline-0 transition"
                                       placeholder="Адрес"
                                       required type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Payment-->
                    <div class="p-6 2xl:p-8 rounded-[20px] bg-card">
                        <h3 class="mb-6 text-md 2xl:text-lg font-bold">Метод оплаты</h3>
                        <div class="space-y-5">
                            <div class="form-radio">
                                <input checked id="payment-method-1" name="payment-method[]" type="radio">
                                <label class="form-radio-label" for="payment-method-1">Наличными</label>
                            </div>
                            <div class="form-radio">
                                <input id="payment-method-2" name="payment-method[]" type="radio">
                                <label class="form-radio-label" for="payment-method-2">Кредитной картой</label>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Checkout -->
                <div class="p-6 2xl:p-8 rounded-[20px] bg-card">
                    <h3 class="mb-6 text-md 2xl:text-lg font-bold">Заказ</h3>
                    <table class="w-full border-spacing-y-3 text-body text-xxs text-left"
                           style="border-collapse: separate">
                        <thead class="text-[12px] text-body uppercase">
                        <th class="pb-2 border-b border-body/60" scope="col">Товар</th>
                        <th class="px-2 pb-2 border-b border-body/60" scope="col">К-во</th>
                        <th class="px-2 pb-2 border-b border-body/60" scope="col">Сумма</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="pb-3 border-b border-body/10" scope="row">
                                <h4 class="font-bold"><a class="inline-block text-white hover:text-pink break-words pr-3"
                                                         href="product.html">SteelSeries
                                    Aerox 3 Snow</a></h4>
                                <ul>
                                    <li class="text-body">Цвет: Белый</li>
                                    <li class="text-body">Размер (хват): Средний</li>
                                </ul>
                            </td>
                            <td class="px-2 pb-3 border-b border-body/20 whitespace-nowrap">2 шт.</td>
                            <td class="px-2 pb-3 border-b border-body/20 whitespace-nowrap">87 800 ₽</td>
                        </tr>
                        <tr>
                            <td class="pb-3 border-b border-body/10" scope="row">
                                <h4 class="font-bold"><a class="inline-block text-white hover:text-pink break-words pr-3"
                                                         href="product.html">SteelSeries
                                    Arctis 5 White 2019 Edition</a></h4>
                                <ul>
                                    <li class="text-body">Цвет: Белый</li>
                                </ul>
                            </td>
                            <td class="px-2 pb-3 border-b border-body/20 whitespace-nowrap">1 шт.</td>
                            <td class="px-2 pb-3 border-b border-body/20 whitespace-nowrap">58 730 ₽</td>
                        </tr>
                        <tr>
                            <td class="pb-3 border-b border-body/10" scope="row">
                                <h4 class="font-bold"><a class="inline-block text-white hover:text-pink break-words pr-3"
                                                         href="product.html">Hator
                                    Hypersport V2 (HTC-948) Black/White</a></h4>
                                <ul>
                                    <li class="text-body">Цвет: Черно-белый</li>
                                </ul>
                            </td>
                            <td class="px-2 pb-3 border-b border-body/20 whitespace-nowrap">1 шт.</td>
                            <td class="px-2 pb-3 border-b border-body/20 whitespace-nowrap">142 800 ₽</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-xs font-semibold text-right">Всего: 289 330 ₽</div>

                    <div class="mt-8 space-y-8">
                        <!-- Promocode -->
                        <div class="space-y-4">
                            <div class="flex gap-3">
                                <input class="grow w-full h-[56px] px-4 rounded-lg border border-body/10 focus:border-pink focus:shadow-[0_0_0_3px_#EC4176] bg-white/5 text-white text-xs shadow-transparent outline-0 transition"
                                       placeholder="Промокод"
                                       required type="text">
                                <button class="shrink-0 w-14 !h-[56px] !px-0 btn btn-purple" type="submit">→</button>
                            </div>
                            <div class="space-y-3">
                                <div class="px-4 py-3 rounded-lg bg-[#137d3d] text-xs">Промокод <a class="mx-2 py-0.5 px-1.5 rounded-md border-dashed border-2 text-white hover:text-white/70 text-xs"
                                                                                                   href="#"
                                                                                                   title="Удалить промокод">&times;
                                    leeto15</a> успешно добавлен.
                                </div>
                                <!-- <div class="px-4 py-3 rounded-lg bg-[#b91414] text-xs">Промокод <b>leeto15</b> удалён.</div> -->
                                <!-- <div class="px-4 py-3 rounded-lg bg-[#b91414] text-xs">Промокод <b>leeto15</b> не найден.</div> -->
                            </div>
                        </div>

                        <!-- Summary -->
                        <table class="w-full text-left">
                            <tbody>
                            <tr>
                                <th class="pb-2 text-xs font-medium" scope="row">Доставка:</th>
                                <td class="pb-2 text-xs">600 ₽</td>
                            </tr>
                            <tr>
                                <th class="pb-2 text-xs font-medium" scope="row">Промокод:</th>
                                <td class="pb-2 text-xs">15 398 ₽</td>
                            </tr>
                            <tr>
                                <th class="text-md 2xl:text-lg font-black" scope="row">Итого:</th>
                                <td class="text-md 2xl:text-lg font-black">245 930 ₽</td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- Process to checkout -->
                        <button class="w-full btn btn-pink" type="submit">Оформить заказ</button>
                    </div>
                </div>

            </form>
        </section>

    </div>
</main>

@@include('parts/footer.html')
